<!DOCTYPE html>
<html ng-app="ionicApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <title>Q10 Estadísticas</title>

        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="js/ng-cordova.min.js"></script>
        <script src="cordova.js"></script>
        <link href="css/ionic.app.css" rel="stylesheet">

        <script src="lib/highcharts-release/adapters/standalone-framework.js"></script>
        <script src="lib/highcharts-release/highcharts.js"></script>
        <script src="lib/highcharts-ng/dist/highcharts-ng.js"></script>


        <script src="js/controllers/comunes.js"></script>
        <script src="js/services/services.js"></script>
        <script src="js/app.js"></script>

    </head>

    <body ng-controller="MainCtrl">

        <ion-side-menus>

            <ion-side-menu-content>
          <ion-nav-bar class="bar-dark">
              <ion-nav-buttons side="left">
                <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
              </ion-nav-buttons>

          </ion-nav-bar>
          <ion-nav-view name="contenido"></ion-nav-view>
<!--
                <ion-header-bar class="bar-positive">
                    <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
                    <h1 class="title">Bienvenido</h1>
                </ion-header-bar>
                <ion-nav-view name="contenido">MenuContent</ion-nav-view>-->
            </ion-side-menu-content>

            <ion-side-menu expose-aside-when="large">
                <ion-header-bar class="bar-assertive">
                    <h1 class="title item-input item-select">
                        Q10grupo
                    </h1>
                </ion-header-bar>
                <ion-nav-view name="menu">MenuItems</ion-nav-view>
            </ion-side-menu>
        </ion-side-menus>
    </body>
</html>
